footer{
    padding: 5em 5em;
    background: #022635;
    z-index: 101;
    position: relative;
    color: rgb(145, 143, 143);
    direction: rtl;
}

.footer-head{
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    position: relative;
    color: rgb(170, 170, 170);
}
.footer-head::after{
    content: "";
    position: absolute;
    bottom: 43%;
    height: .35em;
    background: #168adc3b;
    width: 100%;
    right: 1px;
}
.blue{
    color: #1688dc;
}
.copy-right{
    font-family: sans-serif;
    padding-top: 4em;
}
.footer-title{
    border-bottom: 2px solid rgb(145, 143, 143);
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}