body{
    background: #d8d8d8;
}
nav{
    padding: 1.7em 4em;
    /* background-color: #d3f3fc; */
    background: transparent;
    color: #02182b;
    /* border-bottom: 1px solid #0197f6; */
    /* background: red; */
}
nav a{
    color: inherit;
    text-decoration: none;
}
.menue{
   /* font-weight: 300; */
   padding: 0;
}
.menue li {
    padding-left: 2.5em;
}
.menue a{
    color: inherit;
    text-decoration: none;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0197f6;
    font-size: 2em;
    margin-right: auto;
    font-weight: bold;
}
.first-frame{
    position: relative;
    width: 100%;
    height: 650px;
    height: 800px;
    background-color: #d3f3fc;
    background: #d8d8d8;
    z-index: -1;
}
.header-img{
    position: absolute;
    z-index: -1;
}
.mount{
    top: 0;
}
.lake{
    top: 79%;
}
.main-txt{
    position: absolute;
    top: 110%;
    background: #d3f3fc;
    background: #d8d8d8;
    width: 100%;
    height: 50vh;
}
.header-img.circle{
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}
.container{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
.scrolled{
    top: 120px;
    z-index   : 11;
    width     : 100%;
    height    : 60vh;
    background: #656862;
    background: #d8d8d8;
}
.matn{
    line-height: 2;
}
footer{
    padding : 8em 5em 1em;
    position: relative;
    overflow: hidden;
    background-color: #e7e7e7;
    background-color: #02182b;
    color: #d3f3fc;
    color: rgb(97, 97, 97);
    z-index : 101;
    overflow: hidden;
    

}
footer::before{
    border: 0;
    /* webkit-transform: skewY(-3deg) translateY(-50%) translateY(1px); */
    transform    : skewY(-3deg) translateY(-50%) translateY(1px);
    content                 : "";
    display                 : block;
    position                : absolute;
    left                    : 0;
    top                     : 0;
    -webkit-transform-origin: center;
    transform-origin        : center;
    background              : #d8d8d8;
    width                   : 100%;
    height                  : 5.492vw;
}
#comp-ico{
    fill:rgba(105, 105, 105, 0.075);
    /* position: absolute; */
    top: 25%;
    transform: scale(2.1) translateX(-22%);
    z-index: -1;
}
footer a{
    color: rgb(97, 97, 97);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.f-row {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    align-items     : center;
}

.comp-add{
    border-top: 1px solid rgb(97, 97, 97);
}
.f-contact{
    /* padding-top: 1em; */
    /* font-weight: bold; */
    /* color: white; */
    font-size: .9rem;
    
}
.ph-num{
    display: inline-block;
    direction: ltr;
}
.social-links{
    margin-top: 3em;
    justify-content: space-between;
}
.social-icon{
    padding: 0 1em;
    
}
.social-icon svg{
    fill: rgb(97, 97, 97);
}

.agency-btn{
    border: 1px solid rgb(97, 97, 97);
    padding: 1em 3em;
    transition: all .3s ease-in-out;
}
.agency-btn .agency-arrow{
    position: absolute;
    right: 1em;
    font-size: 1.3em;
    opacity: 0;
}
.agency-arrow{
    transition: opacity .3s,  right .3s;
}
.agency-btn:hover{
    color: rgb(182, 182, 182);
    border-color:rgb(182, 182, 182) ;
}
.agency-btn:hover .agency-arrow{
    right: 10px;
    opacity: 1;
}
.f-links {
    color: white;
    margin: 2em 0 2.5em;
}
.f-links a{
    padding: 1em 2em;
    border-bottom: 2px solid transparent;
}
.f-links a:hover{
    color: rgb(182, 182, 182);;
    border-color: rgb(182, 182, 182);;
}
/* footer {
    padding   : 5em 5em;
    background: #022635;
    z-index   : 101;
    position  : relative;
    color     : rgb(145, 143, 143);
    direction : rtl;

} */

.footer-head {
    font-size: 2.5em;  
}


.blue {
    color: #1688dc;
}

.copy-right {
    font-family: sans-serif;
    font-size: .8rem;
    padding-top: 4em;
    
}

.footer-title {
    border-bottom : 2px solid rgb(145, 143, 143);
    padding-bottom: 0.5em;
    margin-bottom : 0.5em;
}


@media only screen and (max-width: 500px){
    .first-frame{
        height: 110vh;
    }
    .mount {
        top: 0;
        height: 85vh;
    }

    .lake {
        top: 40%;
    }
    .main-txt {
        position  : absolute;
        top       : 80%;
        background: #d3f3fc;
        width     : 100%;
        height    : 50vh;
    }
}