.login-box{
    width: 25em;
    margin: auto;
    margin-bottom: 6em;
}
.login-input{
    width: 100%;
    padding: .6em .4em;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #168adc86;
    margin-bottom: 1em;
    color: #fff;
    transition: all .3s ease-in-out;
}
.login-input:focus{
    outline: none;
    border-color: #1688dc;
}
.login-btn{
    width: 100%;
    padding: .8em .4em;
    background: #1688dc;
    color: #fff;
}

.login-input.invalid{
    border-color: #cf4040;
}
.validation-msg{
    font-size: .7rem;
    /* display: none; */
    
}


.form-group input,.form-group textarea,.form-group select{
    padding: .6em .4em;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #168adc86;
  
    color: #fff;
    transition: all .3s ease-in-out;
}
.form-group select option{
    background: #062c3d;
}

.form-group input:focus,.form-group textarea:focus,.form-group select:focus{
    outline: none;
    border-color: #168adc;
}
.auto-complete{
    position: relative;
}
#autocomplet-results{
    position: absolute;
    top: 100%;
    right: 0;
}

.reg-container{
    padding: 2em;
}
.form-group{
    display: flex;
    margin-bottom: 1em;
}
.form-group label{
    flex: none;
    display: block;
    width: 8em;
    font-size: .9rem;
    /* margin-top: -0.3em;  */
}
.form-group .input-control {
    flex         : 1 1 auto;
    display      : block;
    margin-left: .4em;
    /* border-radius: 2em; */
    
    
}
.input-control[type='text']{
    max-height: 2.43em;
}
.form-btn{
    background: #168adc;
    border-radius: 2em;
    border: 2px solid #168adc;
    padding: 0em 2em;
    color: #fff;
    font-size: .8rem;

}
.reset{
    background: #cf4040!important;
    border-color: #cf4040!important;
    margin-right: .5em!important;
    font-size: .9rem!important;
}
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        margin-bottom: 0;
    }
    .form-group .input-control{
        margin-bottom: 1em;
        margin-left: 0;
    }
}