
.d-lg-flex {
    display: flex;
}
.lg-flex-wrap{
    flex-wrap: wrap;
}
.lg-flex-nowrap {
    flex-wrap: nowrap;
}

.lg-flexdir-col {
    flex-direction: column;
}

.lg-justify-content-center {
    justify-content: center;
}

.lg-justify-content-satrt {
    justify-content: flex-start;
}

.lg-justify-content-end {
    justify-content: flex-end;
}

.lg-justify-content-sb {
    justify-content: space-between;
}

.lg-justify-content-sa {
    justify-content: space-around;
}

.lg-justify-content-se {
    justify-content: space-evenly;
}

.lg-align-items-satrt {
    align-items: flex-start;
}

.lg-align-items-end {
    align-items: flex-end;
}

.lg-align-items-center {
    align-items: center;
}

.lg-align-items-stretch {
    align-items: stretch;
}

.lg-align-items-base {
    align-items: baseline;
}

.lg-flexbasis-100 {
    flex-basis: 100%;
}

.lg-flexbasis-50 {
    flex-basis: 50%;
}

.lg-flex-wrap {
    flex-wrap: wrap;
}

.lg-flex-nowrap {
    flex-wrap: nowrap;
}
.w-lg-50{
    width: 50%;
}
.w-lg-100 {
    width: 100%;
}
.h-lg-100{
    height: 100%;
}

/* positioning */
.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

.p-relative {
    position: relative;
}

.p-abs {
    position: absolute;
}

.box {
    position: relative;
}

.center {
    position: absolute;
}

.center-hv {
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.center-h {
    left     : 50%;
    transform: translateX(-50%);
}

.center-v {
    top      : 50%;
    transform: translateY(-50%);
}


/* break pointa */
@media (max-width: 575.98px) {
    .d-xs-flex{
        display: flex;
    }
    .xs-flexdir-col{
        flex-direction: column;
    }
    .xs-justify-content-center{
        justify-content: center;
    }
    .xs-justify-content-satrt{
        justify-content: flex-start;
    }
    .xs-justify-content-end{
        justify-content: flex-end;
    }
    .xs-justify-content-sb{
        justify-content: space-between;
    }
    .xs-justify-content-sa{
        justify-content: space-around;
    }
    .xs-justify-content-sa {
        justify-content: space-evenly;
    }
    .xs-align-items-satrt{
        align-items: flex-start;
    }
    .xs-align-items-end {
        align-items: flex-end;
    }
    .xs-align-items-center{
        align-items: center;
    }
    .xs-align-items-stretch{
        align-items: stretch;
    }
    .xs-align-items-base{
        align-items: baseline;
    }
    .xs-flexbasis-100{
        flex-basis: 100%;
    }
    .xs-flexbasis-50{
        flex-basis: 50%;
    }
    .xs-flex-wrap{
        flex-wrap: wrap;
    }
    .xs-flex-nowrap{
        flex-wrap: nowrap;
    }
    .w-xs-100{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .d-sm-flex {
        display: flex;
    }

    .sm-flexdir-col {
        flex-direction: column;
    }

    .sm-justify-content-center {
        justify-content: center;
    }

    .sm-justify-content-satrt {
        justify-content: flex-start;
    }

    .sm-justify-content-end {
        justify-content: flex-end;
    }

    .sm-justify-content-sb {
        justify-content: space-between;
    }

    .sm-justify-content-sa {
        justify-content: space-around;
    }

    .sm-justify-content-sa {
        justify-content: space-evenly;
    }

    .sm-align-items-satrt {
        align-items: flex-start;
    }

    .sm-align-items-end {
        align-items: flex-end;
    }

    .sm-align-items-center {
        align-items: center;
    }

    .sm-align-items-stretch {
        align-items: stretch;
    }

    .sm-align-items-base {
        align-items: baseline;
    }

    .sm-flexbasis-100 {
        flex-basis: 100%;
    }

    .sm-flexbasis-50 {
        flex-basis: 50%;
    }

    .sm-flex-wrap {
        flex-wrap: wrap;
    }

    .sm-flex-nowrap {
        flex-wrap: nowrap;
    }
    .w-sm-100{
        width: 100%;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .d-md-flex {
        display: flex;
    }

    .md-flexdir-col {
        flex-direction: column;
    }

    .md-justify-content-center {
        justify-content: center;
    }

    .md-justify-content-satrt {
        justify-content: flex-start;
    }

    .md-justify-content-end {
        justify-content: flex-end;
    }

    .md-justify-content-sb {
        justify-content: space-between;
    }

    .md-justify-content-sa {
        justify-content: space-around;
    }

    .md-justify-content-sa {
        justify-content: space-evenly;
    }

    .md-align-items-satrt {
        align-items: flex-start;
    }

    .md-align-items-end {
        align-items: flex-end;
    }

    .md-align-items-center {
        align-items: center;
    }

    .md-align-items-stretch {
        align-items: stretch;
    }

    .md-align-items-base {
        align-items: baseline;
    }

    .md-flexbasis-100 {
        flex-basis: 100%;
    }

    .md-flexbasis-50 {
        flex-basis: 50%;
    }

    .md-flex-wrap {
        flex-wrap: wrap;
    }

    .md-flex-nowrap {
        flex-wrap: nowrap;
    }
    .w-md-100{
        width: 100%!important;
    }
    
}



