.posts{
    padding: 2em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.post{
    flex-basis: calc(50% - 2em);
    background: #031f2b;
    color: #fff;
    padding: .5em;
    margin: 1em;
    
}
.p-inner{
    border: 1px solid #1e3741;
    padding: .5em;
    
}
.p-inner--in{
    background: #062c3d;
    padding-bottom: .5em;
}
.post--body{
    padding: 0 .5em;
}
.post--date{
    color: #738085;
    font-size: .8rem;
    float: left;
    padding-top: .5em;
}
.post--title{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    
}

.post--txt{
    font-size: .8rem;
    height: 9em;
    overflow-y: hidden;
    margin-bottom: 1.6em;
    color: rgb(223, 221, 221);
}
.post--read{
    color: rgb(223, 221, 221);
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.post--read::after{
    content: '';
    position: absolute;
    top: 89%;
    width: 100%;
    right: 0;
    border-bottom: 2px solid rgb(223, 221, 221);
}



/* post page */

.post-page{
    width: 70%;
    margin: auto;
}
.post-page-date,.post-page-time{
    color: #738085;
    font-size: .9rem;
}
.post-page-time::before{
    content: 'خواندن ';
}
.post-page-time::after{
    content: ' دقیقه ';
}
.post-page-head h1{
    margin: 0;
    padding: 0;
}
.post-page-head{
    position: relative;
    margin: 5em 0;
    padding: 1em 0;

}
.post-page-head::before,.post-page-head::after{
    content: '';
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
}
.post-page-head::before{
    bottom: 100%;
}
.post-page-head::after {
    top: 100%;
}
.post-page-body img{
    display: block;
    width: 100%;
    margin: 1.5em 0;
}
.post-page-body h2{
    font-size: 1.5rem;
}
.post-page-body h3 {
    font-size: 1.1rem;
}
.post-page-body a{
    color: #1688dc;
    text-decoration: none;
}
.post-page-body em{
    display: block;
    padding: 1em;
    background: #031f2b;
    margin-bottom: .5em;
}
.post-page-body ul{
    list-style-type: disc;
    padding-right: 2em;
    line-height: 1.8;
    
}
.post-page-body em::before,.post-page-body em::after{
    font-size: 1.3rem;
}
.post-page-body em::before{
    content: '\275E';
    
}
.post-page-body em::after {
    content: '\275D';
}
.post-page-body{
    line-height: 2;
}
@media only screen and (max-width:600px){
    .post-page{
        width: 90%;
    }
    .post{
        flex-basis: 100%;
    }
}